
html, body {
  margin: 0;
  height: 100%;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #000b00; /*#000100 #011b20b1*/
}

#header {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

#header:hover {
  opacity: 0.8;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.title {
  font-size: 40px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #e0ddea;
}

.whiteclass {
  color: #e0ddea;
  font-size: 20px;
  margin-bottom: 10px;
  text-decoration: none;
}

.box {
  width: 500px; 
  background-color: #0c2a30; /* #133430 #13302d*/
  padding: 20px;
  margin: 10px 0;
  text-align: center;
  color: #e0ddea;
  border-radius: 8px;
}

.navbar {
  position: sticky;
  top: 0; /* Pidä navbar ylhäällä */
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Keskitä pystysuunnassa */
  padding: 15px 100px;
  background-color: #011b20b1; /*#0d2220*/

}

.nav-link {
  text-decoration: none;
  color: #e0ddea;
  font-size: 14px;
  cursor: pointer;
  font-weight: 300;
}

.nav-link:hover {
  opacity: 0.8;
}

