
html, body {
  margin: 0;
  height: 100%;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: linear-gradient(to bottom,
   #2a001b 0%,
   
   #4d3b88 100%); /*#4d3b88 #4a378b*/
}

#header {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.box {
  width: 50%; 
  background-color: #312248;
  padding: 20px;
  margin: 10px 0;
  text-align: center;
  color: #e0ddea;
  border-radius: 8px;
}

.title {
  font-size: 40px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #e0ddea;
}

.button-container {
  display: flex;
}

.circle-button {
  display: inline-block;
  margin: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Makes the button circular */
  border: none;
  background-color: #2a55e3; 
  color: rgb(46, 46, 46);
  font-size: 20px;
  line-height: 40px; /* Centers the plus sign vertically */
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.circle-button:focus {
  outline: none;
}

.button {
  display: inline-block;
  margin: 0px;
  width: 100px;
  height: 100px;
  border-radius: 10%; /* Makes the button circular */
  border: none;
  background-color:  #c9bdf5; /* Green color */
  color: rgb(46, 46, 46);
  font-size: 20px;
  line-height: 40px; /* Centers the plus sign vertically */
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.login-info {
  position: absolute;
  color: #e0ddea;
  top: 0;
  right: 0;
  margin-top: 20px;
  margin-right: 20px;
}

.lisaa_treeni {
  color: #e0ddea;
}

.register {
  color: #e0ddea;
}

.login {
  color: #e0ddea;
}

.search {
  color: #e0ddea;
}

.search_result {
  color: #e0ddea;
}