{% extends "layout.html" %}
{% block content %}
<div>
    {% if friends %}
    <div class="welcometext">
        <p>Vieraile kaverin treenipäiväkirjassa!</p>
    </div>
            {% for friend in friends %}
            <div class="friendbox">
                <a href="{{ url_for('friend_workouts', friend_username=friend) }}">{{ friend }}</a>
            </div>
            {% endfor %}
    {% else %}
        <p class="miniwhiteclass"><a class="frontp-register" href="/search_friends">Hae kavereita</a>Sinulla ei ole vielä kavereita</p>
    {% endif %}

</div>
{% endblock %}