
{% extends "layout.html" %}
{% block content %}
<div id="content">
        {% if friend_username %}
        <p class="friendtitle">#{{ friend_username }}</p>
        {% endif %}
    {% for workout in workouts %}
    <div class="box">
        <table class="workout_table">
            <tr>
                <td class="workout-info miniwhiteclass">{{ workout.sport}}</td>
                <td class="workout-info miniwhiteclass">{{ workout.duration }} min</td>
                <td class="workout-info miniwhiteclass">{{ workout.intensity }}</td>
                <td class="workout-info miniwhiteclass">{{ friend }}</td>
                <td class="timestamp miniwhiteclass">{{ workout.timestamp.strftime('%d.%m.%Y') }}</td>
            </tr>
        </table>
        {% if workout.description and workout.description.strip() %}
        <table class="description_table">
            <tr>
                <td>{{ workout.description }}</td>
            </tr>
        </table>
        {% endif %}
        
    </div> 
    {% endfor %}
</div>


{% endblock %}