
{% extends "layout.html" %}
{% block content %}
<div id="content">
    {% if login and no_workouts %}
        <p class="box miniwhiteclass"><a href="/add">Lisää ensimmäinen treeni tästä</a></p>
    {% elif not login and no_workouts %}
    <div class="welcometext-container">
        <p class="welcometext" id="writingElement"></p>
        <a href="{{ url_for('register') }}" class="frontp-register" id="registerLink" 
        style="display:none;">Aloita luomalla käyttäjätili</a>
        <a href="{{ url_for('login') }}" class="nav-link" id="loginLink" style="display:none;">Kirjaudu sisään</a>
    </div>
    {% endif %}
    {% if friend_username %}
        <p class="friendtitle">#{{ friend_username }}</p>
    {% endif %}
    {% for workout in workouts %}
    <div class="box">
        <table class="workout_table">
            <tr>
                <td class="workout-info miniwhiteclass">{{ workout.sport}}</td>
                <td class="workout-info miniwhiteclass">{{ workout.duration }} min</td>
                <td class="workout-info miniwhiteclass">{{ workout.intensity }}</td>
                <td class="workout-info miniwhiteclass">{{ workout.friend }}</td>
                <td class="timestamp miniwhiteclass">{{ workout.timestamp.strftime('%d.%m.%Y') }}</td>
            </tr>
        </table>
        {% if workout.description and workout.description.strip() %}
        <table class="description_table">
            <tr>
                <td>{{ workout.description }}</td>
            </tr>
        </table>
        {% endif %}
        
    </div> 
    {% endfor %}
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var tekstiElementti = document.getElementById('writingElement');
        var loginLink = document.getElementById('loginLink');
        var registerLink = document.getElementById('registerLink');

        if (tekstiElementti && loginLink && registerLink) {
            var alkuperainenTeksti = "Tervetuloa käyttämään treenipäiväkirjaa!";
            var kirjoitaIndeksi = 0;
            var kirjoitusVäli = 55;

            var kirjoitusIntervalli = setInterval(function () {
                tekstiElementti.textContent += alkuperainenTeksti[kirjoitaIndeksi];
                kirjoitaIndeksi++;

                if (kirjoitaIndeksi === alkuperainenTeksti.length) {
                    clearInterval(kirjoitusIntervalli);
                    loginLink.style.display = "inline";  
                    registerLink.style.display = "inline";  
                }
            }, kirjoitusVäli);
        }
    });
</script>


{% endblock %}