{% extends "layout.html" %}
{% block content %}
<div id="content">
    {% if login and no_workouts %}
    <div class="welcometext-container">
        <p class="welcometext" id="createFirstWorkout"></p>
        <a href="{{ url_for('add') }}" class="frontp-register" id="workoutLink" 
        style="display:none;">Lisää treeni</a>
    </div>
    {% elif not login and no_workouts %}
    <div class="welcometext-container">
        <p class="welcometext" id="writingElement"></p>
        <a href="{{ url_for('register') }}" class="frontp-register" id="registerLink" 
        style="display:none;">Aloita luomalla käyttäjätili</a>
        <a href="{{ url_for('login') }}" class="nav-link" id="loginLink" style="display:none;">Kirjaudu sisään</a>
    </div>
    {% endif %}
    {% if friend_username %}
        <p class="friendtitle">#{{ friend_username }}</p>
    {% endif %}
    {% for workout in workouts %}
    <div class="box">
        <table class="workout_table">
            <tr>
                <td class="workout-info miniwhiteclass">{{ workout.sport}}</td>
                <td class="workout-info miniwhiteclass">{{ workout.duration }} min</td>
                <td class="workout-info miniwhiteclass">{{ workout.intensity }}</td>
                <td class="workout-info miniwhiteclass">{{ workout.friend }}</td>
                <td class="timestamp miniwhiteclass">{{ workout.timestamp.strftime('%d.%m.%Y') }}</td>
            </tr>
        </table>
        {% if workout.description and workout.description.strip() %}
        <table class="description_table">
            <tr>
                <td>{{ workout.description }}</td>
            </tr>
        </table>
        {% endif %}
        
    </div> 
    {% endfor %}
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var element = document.getElementById('writingElement');
        var loginLink = document.getElementById('loginLink');
        var registerLink = document.getElementById('registerLink');

        if (element && loginLink && registerLink) {
            var originalText = "Tervetuloa käyttämään treenipäiväkirjaa!";
            var writingIndex = 0;
            var writingInterval = 55;

            var kirjoitusIntervalli = setInterval(function () {
                element.textContent += originalText[writingIndex];
                writingIndex++;

                if (writingIndex === originalText.length) {
                    clearInterval(kirjoitusIntervalli);
                    loginLink.style.display = "inline";  
                    registerLink.style.display = "inline";  
                }
            }, writingInterval);
        }
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var element = document.getElementById('createFirstWorkout');
        var workoutLink = document.getElementById('workoutLink');

        if (element && workoutLink) {
            var originalText = "Lisää ensimmäinen päiväkirjamerkintä!";
            var writingIndex = 0;
            var writingInterval = 55;

            var kirjoitusIntervalli = setInterval(function () {
                element.textContent += originalText[writingIndex];
                writingIndex++;

                if (writingIndex === originalText.length) {
                    clearInterval(kirjoitusIntervalli);
                    workoutLink.style.display = "inline";  
                }
            }, writingInterval);
        }
    });
</script>
{% endblock %}
