<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treenipäiväkirja</title>
</head>

<body>
    <div class="navbar">
        {% block navbar %}
        {% if session.username %}
            <a href="{{ url_for('index') }}" class="nav-link">Tervetuloa <span>{{ session['username']}}</span></a>
            <a href="{{ url_for('add') }}" class="nav-link">Lisää treeni</a>
            <a href="{{ url_for('statistics') }}" class="nav-link">Omat tilastot</a>
            <a href="{{ url_for('friends') }}" class="nav-link">Kaverit</a>
            <a href="{{ url_for('friendrequests') }}" class="nav-link">Kaveripyynnöt</a> 
            <a href="{{ url_for('search_friends') }}" class="nav-link">Hae kavereita</a>
            <a href="{{ url_for('logout') }}" class="nav-link">Kirjaudu ulos</a>
        {% else %}
            <a href="{{ url_for('login') }}" class="nav-link">Kirjaudu sisään</a>
            <a href="{{ url_for('register') }}" class="nav-link">Luo käyttäjätili</a>
        {% endif %}
        {% endblock %}
    </div>
    <div id="header">
        <a href="/" class="title">Treenipäiväkirja</a>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div>{% with messages = get_flashed_messages() %}
        {% if messages %} 
        <div class="flashes miniwhiteclass">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    </div>
</body>

</html>
