<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treenipäiväkirja</title>
</head>

<body>

    <div class="navbar">
        {% block navbar %}
        {% if session.username %}
            <a href="/" class="nav-link">Tervetuloa <span>{{ session['username']}}</span></a>
            <a href="add" class="nav-link">Lisää treeni</a>
            <a href="statistics" class="nav-link">Omat tilastot</a>
            <a href="friendrequests" class="nav-link">Kaveripyynnöt</a>
            <a href="search_friends" class="nav-link">Hae kavereita</a>
            <a href="logout" class="nav-link">Kirjaudu ulos</a>
    </div>
        {% else %}
            <a href="login" class="nav-link">Kirjaudu sisään</a>
            <a href="register" class="nav-link">Luo käyttäjätunnus</a>
            <a href="search_friends" class="nav-link">Hae kavereita</a>
        {% endif %}
        {% endblock %}
    </div>
    <div id="header">
        <a href="/" class="title">Treenipäiväkirja</a>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

</body>

</html>
