{% extends "layout.html" %}
{% block content %}

<div class="container">
    <form action="/login" method="post" class="login-form">
        <label for="username">Tunnus:</label>
        <input type="text" name="username" id="username">

        <label for="password">Salasana:</label>
        <input type="password" name="password" id="password">

        {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
        {% endif %}

        <button type="submit" class="btn btn-primary">Kirjaudu</button>
    </form>

    <p class="register-link">Jos sinulla ei ole tunnusta, voit luoda uuden tunnuksen <a href="/register">tästä</a></p>
</div>

{% endblock %}