{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div id="content">
        <form action="/login" method="post" class="login-register-form">
                <label for="username" class="miniwhiteclass">Nimimerkki</label>
            <div class="form-group">
                <input type="text" name="username" id="username" maxlength="30" value="{{ inputusername }}">
            </div>
                <label for="password" class="miniwhiteclass">Salasana</label>
            <div class="form-group">
                <input type="password" name="password" id="password" maxlength="100" value="{{ inputpassword }}">
            </div>
            {% if error_message %}
            {% for error in error_message %}
                <p class="error-message">{{ error }}</p>
            {% endfor %}    
            {% endif %}

            <button type="submit" class="miniwhiteclass">Kirjaudu</button>
            <p class="register-link"><a href="/register">Uusi täällä? Luo tili tästä</a></p>
        </form>
    </div>
</div>
{% endblock %}