{% extends "layout.html" %}
{% block content %}
<form action="/add" method="post" class="whiteclass">

    <p>Lisää uusi treeni</p>

    <p>Laji:
        <select name="sport">
            {% for value, label in sport %}
            <option value="{{ value }}">{{ label }}</option>
            {% endfor %}
        </select>
    </p>
    <p>Kesto:
        <select name="duration">
            {% for value, label in duration %}
            <option value="{{ value }}">{{ label }}</option>
            {% endfor %}
        </select>
        minuuttia
    </p>
    <p>Haastavuus:
        <select name="intensity">
            {% for value, label in intensity %}
            <option value="{{ value }}">{{ label }}</option>
            {% endfor %}
        </select>
    </p>

    <p>Kuvaus: <input type="text" name="description"></p>

    <p><input type="submit" value="Lisää treeni päiväkirjaan"></p>
    </form>


{% endblock %}