{% extends "layout.html" %}
{% block content %}
<form action="/add" method="post" class="whiteclass">

    <p>Lisää uusi treeni</p>

    <p>Laji:
        <select name="sport">
            {% for value in sport %}
            <option value="{{ value }}">{{ value }}</option>
            {% endfor %}
        </select>
        <p name="writeTextHere">Kirjoita tähän</p>
        <input type="text" name="usersport">
        {% if error_message %}
        <p class="error-message">{{ error_message }}</p>
        {% endif %}
    </p>
    <p>Kesto:
        <select name="duration">
            {% for value in duration %}
            <option value="{{ value }}">{{ value }}</option>
            {% endfor %}
        </select>
    </p>
    <p>Haastavuus:
        <select name="intensity">
            {% for value in intensity %}
            <option value="{{ value }}">{{ value }}</option>
            {% endfor %}
        </select>
    </p>

    <p>Kuvaus: <input type="text" name="description"></p>

    <p><input type="submit" value="Lisää treeni päiväkirjaan"></p>
</form>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var sportSelect = document.querySelector('select[name="sport"]');
            var usersportInput = document.querySelector('input[name="usersport"]');
            var writeHereText = document.querySelector('p[name="writeTextHere"]');
            
            usersportInput.style.display = sportSelect.value === 'muu' ? 'block' : 'none';
            writeHereText.style.display = sportSelect.value === 'muu' ? 'block' : 'none';
    
            sportSelect.addEventListener('change', function () {

                usersportInput.style.display = (sportSelect.value === 'muu' ? 'block' : 'none');
                writeHereText.style.display = (sportSelect.value === 'muu' ? 'block' : 'none');
            });
        });
    </script>
{% endblock %}