{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div id="content">
        <form action="/register" method="post" class="login-register-form">
            <label class="miniwhiteclass">Nimimerkki</label>
            <div class="form-group">
                <input type="text" name="username" value="{{ inputusername }}">
            </div>
            <label class="miniwhiteclass">Salasana</label>
            <div class="form-group">
                <input type="password" name="password1" value="{{ inputpassword1 }}">
            </div>
            <label class="miniwhiteclass">Salasana uudestaan</label>
            <div class="form-group">
                <input type="password" name="password2" value="{{ inputpassword2 }}">
            </div>
            
            {% if error_message %}
            {% for error in error_message %}
                <p class="error-message">{{ error }}</p>
            {% endfor %}    
            {% endif %}

            <button type="submit" class="miniwhiteclass">Luo tili</button>
            <p class="register-link"><a href="/login">Käyttäjätili on jo olemassa? Kirjaudu tästä</a></p>

        </form>
    </div>
</div>
{% endblock %}