{% extends "layout.html" %}
{% block content %}
<div class="miniwhiteclass chart">
    <canvas id="dateChart" width="400" height="400"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/moment"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<script>
    let rawDates = {{ dates | tojson }};
    let dates = rawDates.map(dateStr => {
        let parts = dateStr.split('.');
        return new Date(parts[2], parts[1] - 1, parts[0]).toISOString();
    });
    
    let ctx = document.getElementById('dateChart').getContext('2d');

    let weekData = {};
    dates.forEach(date => {
        let isoDate = new Date(date).toISOString();
        let weekNumber = moment(isoDate).isoWeek();
        if (!weekData[weekNumber]) {
            weekData[weekNumber] = 0;
        }
        weekData[weekNumber]++;
    });

    let chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: Object.keys(weekData),
            datasets: [{
                label: 'Viikot',
                data: Object.values(weekData),
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1,
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    type: 'category',
                    labels: Object.keys(weekData),
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        fontSize: 14,
                        fontColor: 'white'
                    }
                }]
            },
            plugins: {
                datalabels: {
                    display: true,
                }
            }
        }
    });
</script>

{% endblock %}